* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Albert Sans", Arial, sans-serif;
}

b {
  font-weight: 900;
}

#wrapper {
  width: 100%;
  overflow-x: hidden;
  background-color: #eeeeee;
}

@font-face {
  font-family: "VVDS Fifties Medium";
  src: url("fonts/VVDSFifties-MedMed.otf");
}
#background {
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #eeeeee;
}

.preloaded-image {
  z-index: -2;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50vw;
  height: auto;
}

#iconbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.iconbar__icon {
  /* width: 70px; */
  width: calc(1.6vw + 30px);
  height: calc(1.6vw + 30px);
}

#iconbar__logo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: min(1rem, 0.5vw + 0.5rem);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.6rem;
  letter-spacing: 0.5px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

#iconbar__name {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  font-family: "VVDS Fifties Medium", sans-serif;
}

.invisible {
  opacity: 0 !important;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#iconbar__grid {
  scale: 75%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr calc((1.5vw + 40px) / 20) 1fr calc((1.5vw + 40px) / 20) 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr calc((1.5vw + 40px) / 20) 1fr calc((1.5vw + 40px) / 20) 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: calc((1.5vw + 40px) / 20);
  -ms-grid-column-align: end;
      justify-self: end;
  cursor: pointer;
}

#iconbar__grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#iconbar__grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

#iconbar__grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

#iconbar__grid > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

#iconbar__grid > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

#iconbar__grid > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

#iconbar__grid > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

#iconbar__grid > *:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

#iconbar__grid > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

#iconbar__grid img {
  width: 100%;
  position: relative;
}

#iconbar__grid:hover img {
  -webkit-animation: bounce 0.25s forwards;
          animation: bounce 0.25s forwards;
}

@-webkit-keyframes bounce {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes bounce {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 0;
  }
}
#iconbar__grid:hover img:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

#iconbar__grid:hover img:nth-child(2) {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}

#iconbar__grid:hover img:nth-child(3) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

#iconbar__grid:hover img:nth-child(4) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

#iconbar__grid:hover img:nth-child(5) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#iconbar__grid:hover img:nth-child(6) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

#iconbar__grid:hover img:nth-child(7) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#iconbar__grid:hover img:nth-child(8) {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

#iconbar__grid:hover img:nth-child(9) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#iconbar__logo {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  /* transition-timing-function: ; */
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

#iconbar__logo:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.circle {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: black;
  opacity: 0.2;
  z-index: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.active {
  opacity: 0.5 !important;
}

#circle-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  gap: 15px;
  position: fixed;
  margin: 0 50% 0 50%;
  bottom: 15px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.arrow {
  position: fixed;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  z-index: 1;
}

#left {
  left: 0;
}

#right {
  right: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.arrow-gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), color-stop(65%, rgba(0, 0, 0, 0.5)), to(rgb(0, 0, 0)));
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 65%, rgb(0, 0, 0) 100%);
}

.arrow:hover .arrow-gradient {
  opacity: 0.15;
}

.arrow img {
  height: calc(1vw + 30px);
  padding-left: min(35px, 5vw);
  padding-right: min(130px, 14vw);
  position: relative;
  right: 0;
  -webkit-transition: right 0.25s;
  transition: right 0.25s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.arrow:hover img {
  right: 10%;
}

#carousel {
  width: 300%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0 1fr 0 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  position: relative;
  -webkit-transition: right 0.5s ease;
  transition: right 0.5s ease;
}

.carousel--instant {
  -webkit-transition: right 0s !important;
  transition: right 0s !important;
}

.carousel__focused {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.carousel__first {
  -ms-grid-column: 1 !important;
  -ms-grid-column-span: 1 !important;
  grid-column: 1/2 !important;
}

.carousel__third {
  -ms-grid-column: 3 !important;
  -ms-grid-column-span: 1 !important;
  grid-column: 3/4 !important;
}

.carousel__transitioning {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.carousel__project {
  width: 100%;
  /* display: flex; */
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  scroll-snap-align: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.work {
  max-width: min(1000px, 70vw);
  max-height: calc(100vh - 120px);
}

.work-subcontainer {
  max-width: min(1000px, 70vw);
  max-height: calc(100vh - 120px);
  display: -ms-grid;
  display: grid;
  gap: 10px;
}

.work-subcontainer .work {
  width: 100%;
}

.work-caption-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 42ch;
  max-width: 70vw;
  text-align: center;
  margin-bottom: 60px;
  padding: min(25px, 10px + 3vw);
  border: 1px solid black;
}

.work-caption-text:nth-last-child(2) {
  margin-bottom: 0;
}

.work-first-wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#grid {
  z-index: 2;
  background-color: #eeeeee;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

#grid__works {
  display: -ms-grid;
  display: grid;
  gap: 7.5px;
  -ms-grid-columns: 1fr 7.5px 1fr 7.5px 1fr;
  grid-template-columns: repeat(3, 1fr);
  width: clamp(500px, 60vw, 750px);
  margin: 30px;
}

.grid__works__square {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
}

.grid__works__image {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
  -webkit-transition: -webkit-box-shadow 0.35s ease, -webkit-transform 0.35s ease;
  transition: -webkit-box-shadow 0.35s ease, -webkit-transform 0.35s ease;
  transition: box-shadow 0.35s ease, transform 0.35s ease;
  transition: box-shadow 0.35s ease, transform 0.35s ease, -webkit-box-shadow 0.35s ease, -webkit-transform 0.35s ease;
}

.grid__works__square--animation {
  -webkit-animation: square-pop 0.5s forwards;
          animation: square-pop 0.5s forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.grid__works__image:hover {
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

@-webkit-keyframes square-pop {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes square-pop {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
.grid__works__square:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.grid__works__square:nth-child(2) {
  -webkit-animation-delay: 0.08s;
          animation-delay: 0.08s;
}

.grid__works__square:nth-child(3) {
  -webkit-animation-delay: 0.16s;
          animation-delay: 0.16s;
}

.grid__works__square:nth-child(4) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

.grid__works__square:nth-child(5) {
  -webkit-animation-delay: 0.32s;
          animation-delay: 0.32s;
}

.grid__works__square:nth-child(6) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.footer {
  padding: 30px 15px 45px 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

.footer p:first-child {
  -ms-grid-column-align: right;
      justify-self: right;
}

@media (pointer: none), (pointer: coarse) {
  body {
    font-size: 3rem;
  }
  .work-caption-text {
    max-width: 77vw;
  }
  .work-first-wrapper {
    height: auto;
    padding-top: 120px;
    padding-bottom: 45px;
  }
  .iconbar__icon {
    width: 85px;
    height: 85px;
  }
  #iconbar__name {
    font-size: 4.3rem;
  }
  #grid__works {
    width: 77vw;
  }
  #grid__works {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
  .circle {
    width: 16px;
    height: 16px;
  }
  #circle-wrapper {
    gap: 25px;
  }
  .carousel__project {
    gap: 18px;
  }
  .work {
    max-width: min(1000px, 77vw);
  }
  .work-subcontainer {
    max-width: min(1000px, 77vw);
  }
  .footer {
    padding-bottom: 55px;
    font-size: 3.5rem;
  }
}